.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #006d77;
  color: #edf6f9;
}

.navbarLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}

.navbarLinks a {
  text-decoration: none;
  color: #edf6f9;
}
